:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --brand-color: rgba(0, 146, 255, 0.5);
  --brand-light-color: rgba(0, 146, 255, 0.3);
  --brand-color-darker: rgba(0, 146, 255, 0.7);
  --brand-color-dark: rgba(0, 146, 255, 1);
  --border-radius: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.layout {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.section {
  padding: 15px;
  background-color: white;
  opacity: 0.9;
  border-radius: var(--border-radius);
}

.characters-section {
  width: 50%;
  height: auto;
  min-height: 300px;
}

.movies-section {
  width: 40%;
  min-height: 35%;
  height: auto;
  min-height: 300px;
}

.characters-section__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
